# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
dist/
build/

# Environment
.env
.env.local
.env.example
.env.development.local
.env.test.local
.env.production.local

# Prisma
prisma/migrations/

# Testing
coverage/

# Misc
.DS_Store
*.pem
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Docker
docker/*.env
